---
import Plot from "../components/Plot.astro";
import { Year } from "../grax-search/opportunity";
import { Bar } from "../grax-search/plot";
import Layout from "../layouts/Layout.astro";

const OpptYear = Bar(
  Year(2024, 6),
  (datas) => datas.map((month, n) => (12 - n).toString()),
  (datas) =>
    datas.map((month) => {
      const amounts = month.map((record) => record.fields?.find((f) => f.name == "Amount")?.value).map((v) => parseFloat(v || "0"));
      return amounts.reduce((a, b) => a + b, 0);
    }),
);
---

<Layout title="Open Pipeline">
  <div class="flex flex-col items-center justify-center" id="loading">
    <p>Searching historical data...</p>
    <progress class="progress w-56"></progress>
  </div>

  <div class="h-screen flex flex-col items-center justify-center">
    <div id="chart" class="h-3/4"></div>
  </div>

  <Plot data={OpptYear} loading="loading" root="chart" />
</Layout>
