---
import { Year } from "../grax-search/opportunity";

const months = await Year(2024, 6);
---

<ul>
  {
    months.map((month) =>
      month.map((record) => (
        <li>
          ID: {record.id} Name: {record.fields?.find((f) => f.name == "Name")?.value}
        </li>
      )),
    )
  }
</ul>
